@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;500;600&display=swap');

:root {
    /*--main_color: #25398f;*/
    --main_color: rgba(0, 69, 172, 1);
    --main_color_shadow: rgba(0, 69, 172, 0.3);
    --color_button_hover: rgb(32, 122, 255);
    --color_dark: #1d2231;
    --color_desabilitado: rgba(96, 125, 139, 1);
    /*--text_grey: #8390a2;*/
    --text_grey: rgba(82, 88, 105, 1);
    --text_grey_shadow: rgba(82, 88, 105, 0.5);
    --title_services: rgba(33, 84, 160, 1);
    --color_white: rgba(255, 255, 255, 1);
    --color_amarillo: rgba(255, 255, 0, 1);
    --color_whatsapp: rgba(0, 177, 6, 1);
    --color_copiar: rgba(185, 0, 45, 1);
    --color_copiarDir: rgba(230, 127, 0, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--color_white);
}

p {
    font-weight: 300;
    color: #111;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../imagenes/inicio_fondo.png);
    background-size: cover;
}

.banner .content_banner {
    max-width: 90%;
    text-align: center;
}

.banner .content_banner img {
    width: 60%;
}

.banner .content_banner h2 {
    font-size: 70px;
    text-transform: initial;
    color: var(--color_amarillo);
}

.banner .content_banner p {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FFF;
}

.btn_inicio {
    font-size: 1em;
    color: #FFF;
    background: var(--main_color);
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn_inicio:hover {
    letter-spacing: 5px;
    background: var(--color_button_hover);
    transition: 0.5s;
}

span.textR {
    color: #FF0;
}

span.textRW {
    color: var(--main_color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    padding: 40px 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.icon_nav {
    margin-right: 5px;
    color: var(--color_amarillo);
}

header.stiky {
    background: #FFF;
    padding: 10px 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

header .logo {
    max-width: 137px;
}

.h_logo {
    position: relative;
    top: 0px;
    min-height: 60px;
    max-height: 60px;
    height: 60px;
}

.h_logo img {
    width: 100%;
    height: 60px;
}

header.stiky .icon_nav {
    color: var(--main_color);
}

header .logo span {
    color: var(--main_color);
}

header .navigation_items {
    position: relative;
    display: flex;
}

header .navigation_items li {
    list-style: none;
    margin-left: 30px;
}

header .navigation_items li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
}

header .navigation_items li a:hover {
    color: var(--color_amarillo);
}

header.stiky .navigation_items li a {
    color: #111;
}

header.stiky .navigation_items li a:hover {
    color: var(--main_color);
}

/* SECCION ABAUT */
section {
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.titleText {
    color: #111;
    font-size: 40px;
    font-weight: 300;
}

.titleText span {
    color: var(--main_color);
    font-weight: 700;
    font-size: 45px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

/*****************************************************************************
*                              SECCION TRACKINGS                             *
*****************************************************************************/

.tracking {
    background: #FFFFFF;
    font-family: Arial, sans-serif;
}

.box_content_tracking {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.tracking_box_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tracking form a {
    background: var(--main_color);
    color: #FFF;
    padding: 10px 15px;
}

.tracking form input {
    padding: 10px;
    margin: 20px 0 0 0;
    width: 80%;
    border: 1px solid #f2f2f2;
    border-radius: 0px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.tracking_hr {
    width: 100%;
    margin: 20px auto 20px auto;
    border: 1px solid var(--main_color);
}

.timeline-section {
	max-height: 65vh;
	padding: 10px;
    overflow: auto;
}

.timeline-items {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: var(--main_color);
	left: calc(50% - 1px);
}

.timeline-item {
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}

.timeline-item:last-child {
	margin-bottom: 0;
}

.timeline-dot {
	height: 16px;
	width: 16px;
	background-color: var(--main_color);
	position: absolute;
	left: 0px;
	border-radius: 50%;
	top: 4px;
}

.timeline-date {
	font-size: 18px;
	color: var(--main_color);
	margin:6px 30px 15px;
}

.timeline-content {
    background-color: rgba(208, 208, 208, 0.5);
	padding: 30px;
	border-radius: 5px;
}

.timeline-content h3 {
    font-size: 20px;
	color: #000000;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}

.timeline-content p {
    color: #000000;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.timeline-dot_carga {
	height: 16px;
	width: 16px;
	background-color: var(--color_copiar);
	position: absolute;
	left: 0px;
	border-radius: 50%;
	top: 4px;
}

.timeline-date_carga {
	font-size: 18px;
	color: var(--color_copiar);
	margin:6px 30px 15px;
}

.timeline-content_carga {
    background-color: rgba(208, 208, 208, 0.5);
	padding: 30px;
	border-radius: 5px;
}

.timeline-content_carga h3 {
    font-size: 20px;
	color: #000000;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}

.timeline-content_carga p {
    color: #000000;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* Primeros de cada contenedor */
.timeline-item:first-child .timeline-content {
    background-color: var(--main_color);
	padding: 30px;
	border-radius: 5px;
}

.timeline-item:first-child .timeline-content h3 {
    font-size: 20px;
	color: #FFFFFF;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}

.timeline-item:first-child .timeline-content p {
    color: #C8C8C8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* Encomiendas de carga */
.timeline-item:first-child .timeline-content_carga {
    background-color: var(--color_copiar);
	padding: 30px;
	border-radius: 5px;
}

.timeline-item:first-child .timeline-content_carga h3 {
    font-size: 20px;
	color: #FFFFFF;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}

.timeline-item:first-child .timeline-content_carga p {
    color: #C8C8C8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* Encomiendas interline */
.timeline-item:first-child .timeline-content_interline {
    background-color: var(--color_amarillo);
	padding: 30px;
	border-radius: 5px;
}

.timeline-item:first-child .timeline-content_interline h3 {
    font-size: 20px;
	color: var(--color_dark);
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}

.timeline-item:first-child .timeline-content_interline p {
    color: var(--text_grey);
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.timeline-dot_interline {
	height: 16px;
	width: 16px;
	background-color: var(--color_amarillo);
	position: absolute;
	left: 0px;
	border-radius: 50%;
	top: 4px;
}

.timeline-date_interline {
	font-size: 18px;
	color: var(--color_dark);
	margin:6px 30px 15px;
}

#titulo_encomiendas_carga {
    display: block;
}

#titulo_encomiendas_carga_movil {
    display: none;
}

/*****************************************************************************
*                              SECCION SERVICIOS                             *
*****************************************************************************/

.services_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 90px;
}

.box_service {
    padding: 20px;
    width: 100%;
    height: auto;
    background: var(--gradient_amarillo_i);
    box-shadow: 0 0 10px var(--text_grey_shadow);
}
.img_servicio {
    position: relative;
}

.img_servicio img {
    width: 100%;
    max-height: 40vh;
}

.precio {
    position: absolute;
    padding: 10px;
    border-top-left-radius: 5px;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.precio h2 {
    font-size: 40px;
    color: var(--main_color);
}

.info_servicio h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text_grey);
}

.info_servicio h3 span.resaltar_S {
    color: var(--color_dark);
}

.contacto_telefono {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: start;
    text-align: center;
    margin: 20px 0 10px 0;
}

.contacto_telefono .contacto_llamada,
.contacto_telefono .contacto_whatsapp {
    font-size: 20px;
    color: var(--text_grey);
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    background: var(--color_whatsapp);
    border: 1px solid var(--color_whatsapp);
    color: var(--color_white);
    cursor: pointer;
    transition: 0.5s;
}

.contacto_telefono .contacto_llamada:hover {
    letter-spacing: 3px;
    color: var(--color_white);
    transition: 0.5s;
}

.contacto_telefono .contacto_whatsapp:hover {
    letter-spacing: 3px;
    color: var(--color_white);
    transition: 0.5s;
}

.contacto_telefono .contacto_llamada:active,
.contacto_telefono .contacto_whatsapp:actives {
    transform: scale(0.9);
    transition: 0.5s;
}

/*****************************************************************************
*                             SECCION DE OFICINAS                            *
*****************************************************************************/

.linea_oficinas {
    position: relative;
    margin: 50px auto;
    width: 100%;
}

.linea_oficinas:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 90%;
    background: #c5c5c5;
}

.linea_oficinas ul li {
    list-style: none;
    position: relative;
    width: 50%;
}

.linea_oficinas ul li:nth-child(odd) {
    padding: 20px 40px 40px 0;
    float: left;
    text-align: right;
    clear: both;
}

.linea_oficinas ul li:nth-child(even) {
    padding: 20px 0 40px 40px;
    float: right;
    text-align: left;
    clear: both;
}

.linea_oficinas ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: var(--main_color);
    box-shadow: 0 0 0 3px var(--main_color_shadow);
}

.linea_oficinas ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: var(--main_color);
    box-shadow: 0 0 0 3px var(--main_color_shadow);
}

.content_ofi {
    padding: 20px;
    background: var(--color_white);
    box-shadow: 0 0 5px 0 var(--main_color_shadow);
}

.linea_oficinas ul li h3 {
    font-weight: 600;
    color: var(--main_color);
}

.linea_oficinas ul li p {
    margin: 10px 0 0;
}

.linea_oficinas ul li .ofiName h4 {
    font-size: 16px;
}

.linea_oficinas ul li:nth-child(odd) .ofiName {
    position: absolute;
    top: 12px;
    margin: 0;
    padding: 8px 16px;
    background: var(--main_color);
    color: var(--color_white);
    box-shadow: 0 0 0 3px var(--main_color_shadow);
    text-align: left;
    width: 382px;
}

.linea_oficinas ul li:nth-child(even) .ofiName {
    position: absolute;
    top: 12px;
    margin: 0;
    padding: 8px 16px;
    background: var(--main_color);
    color: var(--color_white);
    box-shadow: 0 0 0 3px var(--main_color_shadow);
    width: 382px;
}

div.cy {
    margin-top: 10px;
    color: var(--color_amarillo);
}

.linea_oficinas ul li:nth-child(odd) .ofi_uno {
    /*right: -336px;*/
    right: -422px;
}

.linea_oficinas ul li:nth-child(even) .ofi_dos {
    left: -422px
}

.linea_oficinas ul li:nth-child(odd) .ofi_tres {
    /*right: -368px;*/
    right: -422px;
}

.linea_oficinas ul li:nth-child(even) .ofi_cuatro {
    /*left: -348px;*/
    left: -422px
}

.linea_oficinas ul li:nth-child(odd) .ofi_cinco {
    /*right: -348px;*/
    right: -422px;
}

.linea_oficinas ul li:nth-child(even) .ofi_seis {
    /*left: -332px;*/
    left: -422px
}

.linea_oficinas ul li:nth-child(odd) .ofi_siete {
    /*right: -364px;*/
    right: -422px;
}

.linea_oficinas ul li:nth-child(even) .ofi_ocho {
    /*left: -277px;*/
    left: -422px
}

.content_iframe {
    min-height: 300px;
    height: 300px;
}

.detalles_oficina {
    text-align: left;
}

.detalles_oficina {
    font-size: 16px;
    margin: 0 20px 20px 0;
}

span.icono_btn_maps {
    background: #F44336;
    color: #7b3732;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.detalles_oficina span {
    margin: 0 10px 0 0;
}

.detalles_oficina span.icono {
    font-size: 20px;
    color: var(--color_button_hover);
}

.detalles_oficina span.nombre {
    color: var(--color_button_hover);
}

.detalles_oficina span.detalle {
    color: var(--text_grey);
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

.detalles_oficina span.detalle:hover {
    color: var(--title_services);
    transition: 0.5s;
}

.detalles_oficina span.detalle:active {
    font-size: 15.5px;
    transition: 0.5s;
}

.aR_btn_map {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.btn_maps {
    cursor: pointer;
    background: var(--color_button_hover);
    padding: 5px;
    color: var(--color_white);
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.punta_btn_map {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid var(--color_button_hover);
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    transition: 0.5s;
}

.btn_maps:hover {
    background: var(--main_color);
}

.btn_maps:hover ~ span.punta_btn_map {
    border-left: 20px solid var(--main_color);
}

.action_ll_wthp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 25px
}

.map_llamada {
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid var(--color_button_hover);
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color_button_hover);
    cursor: pointer;
    transition: 0.5s;
}

.map_whatsapp {
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid var(--color_whatsapp);
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color_whatsapp);
    cursor: pointer;
    transition: 0.5s;
}

.map_llamada:hover {
    background: var(--color_button_hover);
    color: var(--color_white);
    transition: 0.5s;
}

.map_whatsapp:hover {
    background: var(--color_whatsapp);
    color: var(--color_white);
    transition: 0.5s;
}

.map_llamada:active,
.map_whatsapp:active {
    transform: scale(0.9);
    transition: 0.5s;
}

/*****************************************************************************
*                      SECCION DE NOSOTROS COMO EMPRESA                      *
*****************************************************************************/
.abaut_us {
    background: url(../imagenes/inicio_fondo.png);
    background-size: cover;
}

.white .titleText,
.white p {
    color: var(--color_white);
}

.abaut_us .content_abaut_us {
    display: grid;
    grid-template-columns: repeat(auto-fill, 32%);
    grid-gap: 2%;
    justify-content: center;
}

.abaut_us .content_abaut_us .caja_abaut_us {
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.abaut_us .content_abaut_us .caja_abaut_us .imgCT {
    font-size: 90px;
    color: var(--color_amarillo);
}

.abaut_us .content_abaut_us .caja_abaut_us .imgCT img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.abaut_us .content_abaut_us .caja_abaut_us .textST {
    text-align: center;
}

.abaut_us .content_abaut_us .caja_abaut_us .textST p {
    color: var(--color_white);
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0.25px;
}

.abaut_us .content_abaut_us .caja_abaut_us .textST li {
    color: var(--color_white);;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.25px;
}

.abaut_us .content_abaut_us .caja_abaut_us .textST h3 {
    margin: 20px 0;
    color: var(--color_amarillo);
    font-size: 1em;
    font-weight: 600;
}

/*****************************************************************************
*                              SECCION CONTACTO                              *
*****************************************************************************/
section.fullP {
    min-height: 100vh;
}

.contactForm {
    padding: 75px 50px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .caja_imput {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .caja_imput input {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

.contactForm .caja_imput textarea {
    width: 100%;
    max-width: 100%;
    height: 200px;
    min-height: 100px;
    max-height: 200px;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

.contactForm .caja_imput input[type="submit"] {
    font-size: 1em;
    color: #FFF;
    background: var(--main_color);
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100%;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.contactForm .caja_imput input[type="submit"]:hover {
    background: var(--color_button_hover);
    letter-spacing: 5px;
    transition: 0.5s;
}

.content_contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.info_detll {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.c_iit {
    margin-right: 15px;
    color: rgba(0, 185, 45, 1);
    font-size: 30px;
}

.c_iid {
    margin-right: 23px;
    color: rgba(185, 0, 45, 1);
    font-size: 30px;
}

.c_iih {
    margin-right: 15px;
    color: rgba(96, 125, 139, 1);
    font-size: 30px;
}

.c_in {
    margin-right: 10px;
    color: var(--main_color);
}

.c_id {
    margin-right: 10px;
    color: var(--text_grey);
}

.c_logo img {
    width: 100%;
    height: 100%;
    padding: 30px;
}

.c_i {
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
}

.gracias_contac {
    text-align: center;
    padding: 10px;
    border-left: 5px solid #2196f3;
    background: var(--main_color);
    color: var(--color_white);
    display: none;
}

.gracias_contac.active {
    display: block;
}

.icon_gracias_contact {
    font-size: 20px;
    margin: 0px 5px;
    color: var(--color_amarillo);
    font-weight: 600;
}

#btn_c_submit_contact.inactive {
    display: none;
}

.init_mayus {
    text-transform: capitalize;
}

.contactForm .caja_imput input.invalido,
.contactForm .caja_imput textarea.invalido {
    border: 1px solid #FF0000;
}

.campo_invalido {
    color: #FF0000;
    font-size: 14px;
    display: none;
}

#msm_cInvalido_nombre.invalido {
    display: block;
}

#msm_cInvalido_asunto.invalido {
    display: block;
}

#msm_cInvalido_ct.invalido {
    display: block;
}

#msm_cInvalido_mensaje.invalido {
    display: block;
}

.contactForm .caja_imput input[type="submit"]:disabled {
    background: var(--color_desabilitado);
    cursor: none;
    outline: none;
}

/*****************************************************************************
*                                PIE DE PAGINA                               *
*****************************************************************************/
.copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    text-align: center;
}

.copyrightText p {
    color: #ffffff;
}

.copyrightText a {
    color: var(--color_amarillo);
    font-weight: 500;
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 0 20px 0;
}

hr {
    width: 40%;
    margin: 40px auto 40px auto;
    border: 1px solid var(--main_color);
}

/* ------------------------------------------------------------------------- */

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    padding: 40px 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

footer.stiky {
    background: var(--main_color);
    padding: 10px 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

footer .logo {
    max-width: 137px;
}

footer.stiky .icon_nav {
    color: var(--color_white);
}

footer.stiky .icon_nav:hover {
    color: var(--color_amarillo);
}

footer .logo span {
    color: var(--color_amarillo);
}

footer .navigation_items {
    position: relative;
    display: flex;
}

footer .navigation_items li {
    list-style: none;
    margin-left: 30px;
}

footer .navigation_items li a {
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

footer .navigation_items li a:hover {
    color: var(--color_amarillo);
}

footer.stiky .navigation_items li a {
    color: var(--color_white);
}

footer.stiky .navigation_items li a:hover {
    color: var(--color_amarillo);
}

.a_pp {
    background: var(--color_whatsapp);
    color: var(--color_white);
    text-decoration: none;
    font-size: 20px;
    border: 2px solid var(--color_whatsapp);
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    margin: 30px 10px 10px 10px;
}

.a_pp span.__icon_ {
    font-size: 20px;
    margin-right: 5px;
}

.a_pp:hover {
    background: var(--color_amarillo);
    color: var(--main_color);
    border: 2px solid var(--color_amarillo);
    letter-spacing: 1px;
    transition: 0.5s;
}

img.btn-whatsapp {
    display: block !important;
    position: fixed;
    z-index: 9999999;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius:100px !important;
}
img.btn-whatsapp:hover{
    border-radius:100px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1); 
    -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    transition-duration: 1s;
}

/* MEDIA QUERYS */
@media (max-width: 1133px) {
    .contacto_telefono .contacto_copiarDir {
        font-size: 12px;
        padding: 12px;
    }
}

@media (max-width: 1113px) {
    .contacto_telefono .contacto_copiarDir {
        font-size: 12px;
        padding: 12px 0;
    }
}

@media (max-width: 1063px) {
    .contacto_telefono .contacto_copiar {
        font-size: 13px;
        padding: 11px;
    }
}

@media (max-width: 1045px) {
    .contacto_telefono .contacto_copiar {
        font-size: 12px;
        padding: 12px 0;
    }
}

@media (max-width: 1024px) {
    .action_ll_wthp {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}

@media (max-width: 991px) {
    header,
    header.stiky {
        padding: 10px 20px;
    }

    header .navigation_items .icon_nav,
    header.stiky .navigation_items .icon_nav {
        color: var(--main_color);
    }

    header .navigation_items {
        display: none;
    }

    header .navigation_items.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background: #FFF;
        padding: 0 20px;
    }

    header .navigation_items li {
        margin-left: 0;
        margin-bottom: 20px;
    }

    header .navigation_items li a {
        color: #111;
        font-size: 1.6em;
    }

    .menutoggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../imagenes/hambuger.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menutoggle.active {
        background: url(../imagenes/close.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.stiky .menutoggle {
        filter: invert(1);
    }

    section {
        padding: 20px;
    }

    .banner .content_banner h2 {
        font-size: 3em;
        color: #FFF;
    }

    .title {
        text-align: center;
    }

    .titleText {
        font-size: 40px;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }

    /* SECCION SERVICIOS */
    .fila_servicio,
    .fila_servicio_par {
        margin: 2rem 0 0rem 0;
    }

    .fila_servicio {
        display: block;
    }

    .fila_servicio .img_servicio img,
    .fila_servicio_par .img_servicio img {
        width: 100%;
        height: auto
    }

    .fila_servicio .img_servicio img,
    .fila_servicio_par .img_servicio img {
        box-shadow: 0px 10px 10px -5px var(--text_grey_shadow);
    }

    .fila_servicio .info_servicio,
    .fila_servicio_par .info_servicio {
        width: 90%;
        left: 0px;
        top: -100px;
        margin: auto;
        box-shadow: 0px 10px 30px -5px var(--text_grey_shadow);
    }

    .fila_servicio_par {
        display: flex;
        flex-direction: column-reverse;
    }

    .fila_servicio .info_servicio h3,
    .fila_servicio_par .info_servicio h3 {
        text-align: center;
    }

    .contacto_telefono .contacto_copiar,
    .contacto_telefono .contacto_copiarDir {
        font-size: 14px;
        padding: 10px;
    }

    /* SECCION OFICINAS */
    .row {
        flex-direction: column;
    }

    .row .col50 {
        position: relative;
        width: 100%;
    }

    .row .col50 .img_caja {
        height: 300px;
        margin-top: 20px;
    }

    /* SECCION NOSOTROS */
    .abaut_us .content_abaut_us {
        grid-template-columns: repeat(auto-fill, 48%);
        grid-gap: 2%;
        margin-bottom: 90px;
    }

    .abaut_us .content_abaut_us .caja_abaut_us {
        padding: 20px;
    }

    /* SECCION CONTACTO */
    .contactForm {
        padding: 35px 40px;
        margin: auto;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    section {
        padding-top: 100px;
    }

    .title {
        margin-bottom: 30px;
    }

    .h_logo img {
        width: 75%;
    }

    .contacto_telefono {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contacto_telefono .contacto_llamada,
    .contacto_telefono .contacto_whatsapp,
    .contacto_telefono .contacto_copiar,
    .contacto_telefono .contacto_copiarDir {
        margin: 0 0 10px 0;
    }

    /* SERVICIOS */
    .services_container {
        grid-template-columns: 1fr 1fr;
    }

    /* LINEA DE TIEMPO */
    .linea_oficinas {
        margin: 100px auto;
    }

    .linea_oficinas:before {
        top: -40px;
        left: 20px;
        height: 95%;
    }

    .linea_oficinas ul li:nth-child(odd),
    .linea_oficinas ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        margin-bottom: 80px;
    }

    .linea_oficinas ul li:nth-child(odd):before,
    .linea_oficinas ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .linea_oficinas ul li:nth-child(odd) .ofiName,
    .linea_oficinas ul li:nth-child(even) .ofiName {
        top: -30px;
        left: 50px;
        right: inherit;
        width: 400px;
        max-width: 500px;
    }

    .linea_oficinas ul li:nth-child(odd) {
        padding: 20px 0 40px 50px;
    }

    .action_ll_wthp {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content_ofi {
        margin-top: 80px;
    }

    /* SECCION NOSOTROS */
    .abaut_us .content_abaut_us .caja_abaut_us .imgCT {
        font-size: 75px;
    }

    .abaut_us .content_abaut_us .caja_abaut_us .textST li,
    .abaut_us .content_abaut_us .caja_abaut_us .textST p {
        font-size: 14px;
    }

    /* SECCION DE CONTACTO */
    .content_contacts {
        grid-template-columns: 1fr;
    }

    .box_contact {
        padding: 35px 40px;
    }

    .contactForm {
        margin: auto;
        max-width: 100%;
    }

    /* Tracking */
    .tracking {
        overflow: auto;
    }

    .tracking_box_form {
        grid-template-columns: 1fr;
    }

    .box_content_tracking {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #titulo_encomiendas_carga {
        display: none;
    }

    #titulo_encomiendas_carga_movil {
        display: block;
    }
}

@media (max-width: 480px) {
    header .logo,
    header.stiky .logo {
        font-size: 1.3em;
    }

    header .logo {
        max-width: 200px;
    }

    .h_logo img {
        width: 50%;
    }

    .banner .content_banner img {
        width: 90%;
    }

    .banner .content_banner h2 {
        font-size: 2em;
        color: #FFF;
    }

    .banner .content_banner p {
        margin-top: 10px;
        font-size: 18px;
    }

    .titleText {
        font-size: 1.5rem
    }

    .titleText span {
        font-size: 1.7rem
    }

    /* SECCION SERVICIOS */
    .fila_servicio .info_servicio,
    .fila_servicio_par .info_servicio {
        padding: 20px;
        top: -100px;
    }

    .fila_servicio .info_servicio h3,
    .fila_servicio_par .info_servicio h3 {
        font-size: 18px;
    }

    .fila_servicio .info_servicio h4,
    .fila_servicio_par .info_servicio h4,
    .fila_servicio .info_servicio p,
    .fila_servicio_par .info_servicio p {
        font-size: 12px;
    }

    .linea_oficinas ul li:nth-child(odd) .ofiName,
    .linea_oficinas ul li:nth-child(even) .ofiName {
        top: -30px;
        left: 50px;
        right: inherit;
        width: 87%;
    }

    div.cy {
        font-size: 12px;
    }

    .contacto_telefono .contacto_llamada,
    .contacto_telefono .contacto_whatsapp,
    .contacto_telefono .contacto_copiar,
    .contacto_telefono .contacto_copiarDir {
        font-size: 12px;
    }

    .resaltar_anaranjado {
        font-size: 14.8px;
    }

    /* SERVICIOS */
    .services_container {
        grid-template-columns: 1fr;
    }

    /* SECCION OFICINAS */
    section#oficinas {
        margin-bottom: -100px;
    }

    .linea_oficinas ul li .ofiName h4 {
        font-size: 12px;
    }

    .detalles_oficina {
        font-size: 12px;
    }

    span.icono_btn_maps {
        font-size: 12px
    }

    .aR_btn_map {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
    }

    .btn_maps {
        font-size: 13px
    }

    .detalles_oficina span.icono {
        font-size: 16px;
    }

    .action_ll_wthp {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    /* SECCION NOSOTROS */
    .abaut_us .content_abaut_us {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .abaut_us .content_abaut_us .caja_abaut_us .imgCT {
        font-size: 60px;
    }

    .abaut_us .content_abaut_us .caja_abaut_us .textST li,
    .abaut_us .content_abaut_us .caja_abaut_us .textST p {
        font-size: 12px;
    }

    /* SECCION DE CONTACTO */
    .box_contact {
        padding: 10px 10px;
    }

    .contactForm {
        padding: 20px;
    }

    .c_in,
    .c_id {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .aR_btn_map {
        display: grid;
        grid-template-columns: 1fr 9fr 1fr;
    }

    .linea_oficinas ul li:nth-child(odd) .ofiName,
    .linea_oficinas ul li:nth-child(even) .ofiName {
        top: -30px;
        left: 50px;
        right: inherit;
        width: 85%;
    }

    div.cy {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .aR_btn_map {
        display: grid;
        grid-template-columns: 1fr 7fr 1fr;
    }

    .linea_oficinas ul li:nth-child(odd) .ofiName,
    .linea_oficinas ul li:nth-child(even) .ofiName {
        top: -30px;
        left: 50px;
        right: inherit;
        width: 82%;
    }
}

@media (max-width: 251px) {

    .action_ll_wthp,
    .aR_btn_map {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        margin-bottom: 10px
    }

    .icono_btn_maps,
    .punta_btn_map {
        display: none;
    }
}
