@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;500;600&display=swap');

:root {
    --main_color: rgba(0, 69, 172, 1);
    --main_color_shadow: rgba(0, 69, 172, 0.3);
    --color_button_hover: rgb(32, 122, 255);
    --color_dark: #1d2231;
    --color_desabilitado: rgba(96, 125, 139, 1);
    --text_grey: rgba(82, 88, 105, 1);
    --text_grey_shadow: rgba(82, 88, 105, 0.5);
    --title_services: rgba(33, 84, 160, 1);
    --color_white: rgba(255, 255, 255, 1);
    --color_amarillo: rgba(255, 255, 0, 1);
    /*--gradient_amarillo: radial-gradient(circle, rgba(255,222,0,1) 0%, rgba(255,255,0,1) 100%);*/
    --gradient_amarillo: linear-gradient(0deg, rgba(255,184,0,1) 0%, rgba(255,239,0,1) 100%);
    --gradient_amarillo_i: linear-gradient(0deg, rgba(255,239,0,1) 0%, rgba(255,184,0,1) 100%);
    --color_whatsapp: rgba(0, 177, 6, 1);
    --color_copiar: rgba(185, 0, 45, 1);
    --color_copiarDir: rgba(230, 127, 0, 1);
    --color_cian: rgba(0, 255, 255, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Barlow', sans-serif;*/
    font-family: 'Barlow Semi Condensed', sans-serif;
    /*scroll-behavior: smooth;*/
}

body {
    background: var(--color_white);
}

p {
    font-weight: 300;
    color: #111;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../imagenes/inicio_fondo.png);
    background-size: cover;
}

.banner .content_banner {
    max-width: 1500px;
    text-align: center;
}

.banner .content_banner h2 {
    font-size: 70px;
    text-transform: initial;
    color: var(--color_amarillo);
}

.banner .content_banner p {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FFF;
}

.btn_inicio {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    background: var(--color_whatsapp);
    display: inline-block;
    padding: 20px 50px;
    margin-top: 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn_inicio_qs {
    font-size: 20px;
    font-weight: bold;
    color: var(--color_dark);
    background: var(--color_cian);
    display: inline-block;
    padding: 20px 50px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn_inicio_qs:hover,
.btn_inicio:hover {
    letter-spacing: 3px;
    background: var(--color_amarillo);
    color: var(--main_color);
    transition: 0.5s;
}

span.textR {
    color: #FF0;
}

span.textRW {
    color: var(--main_color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    padding: 40px 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.icon_nav {
    margin-right: 5px;
    color: var(--color_amarillo);
}

header.stiky {
    background: var(--color_amarillo);
    padding: 10px 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

header .logo {
    max-width: 137px;
}

.h_logo {
    position: relative;
    top: 0px;
    min-height: 60px;
    max-height: 60px;
    height: 60px;
}

.h_logo img {
    width: 100%;
    height: 60px;
}

header.stiky .icon_nav {
    color: var(--main_color);
}

header .logo span {
    color: var(--main_color);
}

header .navigation_items {
    position: relative;
    display: flex;
}

header .navigation_items li {
    list-style: none;
    margin-left: 30px;
}

header .navigation_items li a {
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

header .navigation_items li a:hover {
    color: var(--color_amarillo);
}

header.stiky .navigation_items li a {
    color: #111;
}

header.stiky .navigation_items li a:hover {
    color: var(--main_color);
}

/* ------------------------------------------------------------------------- */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    padding: 40px 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

footer.stiky {
    background: var(--color_amarillo);
    padding: 10px 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

footer .logo {
    max-width: 137px;
}

footer.stiky .icon_nav {
    color: var(--main_color);
}

footer .logo span {
    color: var(--main_color);
}

footer .navigation_items {
    position: relative;
    display: flex;
}

footer .navigation_items li {
    list-style: none;
    margin-left: 30px;
}

footer .navigation_items li a {
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

footer .navigation_items li a:hover {
    color: var(--color_amarillo);
}

footer.stiky .navigation_items li a {
    color: #111;
}

footer.stiky .navigation_items li a:hover {
    color: var(--main_color);
}

.a_pp {
    background: var(--color_whatsapp);
    color: var(--color_white);
    text-decoration: none;
    font-size: 20px;
    border: 2px solid var(--color_whatsapp);
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    margin: 30px 10px 10px 10px;
}

.a_pp span.__icon_ {
    font-size: 20px;
    margin-right: 5px;
}

.a_pp:hover {
    background: var(--color_amarillo);
    color: var(--main_color);
    border: 2px solid var(--color_amarillo);
    letter-spacing: 1px;
    transition: 0.5s;
}

#footer_tow {
    display: none;
}

/* ------------------------------------------------------------------------- */

/*****************************************************************************
*                              SECCION SERVICIOS                             *
*****************************************************************************/
section#envios {
    padding: 100px;
    background: var(--gradient_amarillo);
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.titleText {
    color: #111;
    font-size: 40px;
    font-weight: 300;
}

.titleText span {
    color: var(--main_color);
    font-weight: 700;
    font-size: 45px;
}

.titleText span.textR_fb {
    color: var(--color_amarillo);
    font-weight: 700;
    font-size: 45px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.icon_img {
    width: 100%;
    height: auto;
    min-height: 200px;
}

.services_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.box_service {
  padding: 20px;
  width: 100%;
  height: auto;
  background: var(--gradient_amarillo_i);
  box-shadow: 0 0 10px var(--text_grey_shadow);
}
.img_servicio {
  position: relative;
}

.img_servicio img {
    width: 100%;
    max-height: 40vh;
}

.precio {
  position: absolute;
  padding: 10px;
  border-top-left-radius: 5px;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.precio h2 {
  font-size: 40px;
  color: var(--main_color);
}

.info_servicio h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text_grey);
}

.info_servicio h3 span.resaltar_S {
    color: var(--color_dark);
}

.contacto_telefono {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    align-items: center;
    justify-content: start;
    text-align: center;
    margin: 20px 0 10px 0;
}

.contacto_telefono .contacto_llamada,
.contacto_telefono .contacto_whatsapp {
    font-size: 20px;
    color: var(--text_grey);
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    background: var(--color_whatsapp);
    border: 1px solid var(--color_whatsapp);
    color: var(--color_white);
    cursor: pointer;
    transition: 0.5s;
}

.contacto_telefono .contacto_llamada:hover {
    letter-spacing: 3px;
    color: var(--color_white);
    transition: 0.5s;
}

.contacto_telefono .contacto_whatsapp:hover {
    letter-spacing: 3px;
    color: var(--color_white);
    transition: 0.5s;
}

.contacto_telefono .contacto_llamada:active,
.contacto_telefono .contacto_whatsapp:actives {
    transform: scale(0.9);
    transition: 0.5s;
}

/*****************************************************************************
*                             SECCION DE OFICINAS                            *
*****************************************************************************/
section#oficinas {
    padding: 100px;
    background: var(--gradient_amarillo_i);
}

.linea_oficinas ul li {
    list-style: none;
    position: relative;
    width: 50%;
}

.linea_oficinas ul li:nth-child(odd) {
    padding: 20px 40px 40px 0;
    float: left;
    text-align: right;
    clear: both;
}

.linea_oficinas ul li:nth-child(even) {
    padding: 20px 0 40px 40px;
    float: right;
    text-align: left;
    clear: both;
}

.linea_oficinas ul li h3 {
    font-weight: 600;
    color: var(--main_color);
}

.linea_oficinas ul li p {
    margin: 10px 0 0;
}

.linea_oficinas ul li:nth-child(odd) .ofiName {
    position: absolute;
    top: 12px;
    margin: 0;
    padding: 8px 16px;
    background: var(--main_color);
    color: var(--color_white);
    box-shadow: 0 0 0 3px var(--main_color_shadow);
    text-align: left;
    width: 382px;
}

.linea_oficinas ul li:nth-child(even) .ofiName {
    position: absolute;
    top: 12px;
    margin: 0;
    padding: 8px 16px;
    background: var(--main_color);
    color: var(--color_white);
    box-shadow: 0 0 0 3px var(--main_color_shadow);
    width: 382px;
}

.detalles_oficina span.detalle:active {
    font-size: 15.5px;
    transition: 0.5s;
}

.linea_oficinas {
    position: relative;
    margin: 50px auto;
    width: 100%;
}

.linea_oficinas:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 90%;
    background: var(--text_grey_shadow);
}

.linea_oficinas ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: var(--main_color);
    box-shadow: 0 0 0 3px var(--main_color_shadow);
}

.linea_oficinas ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: var(--main_color);
    box-shadow: 0 0 0 3px var(--main_color_shadow);
}

.linea_oficinas ul li:nth-child(odd) div.content_ofi {
    border-right: 1px solid var(--text_grey_shadow);
    box-shadow: 5px 0px 10px var(--text_grey_shadow);
}

.linea_oficinas ul li:nth-child(even) div.content_ofi {
    border-left: 1px solid var(--text_grey_shadow);
    box-shadow: -5px 0px 10px var(--text_grey_shadow);
}

.content_ofi {
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    /*background: var(--main_color);
    box-shadow: 0 0 5px 0 var(--main_color_shadow);*/
}

.content_ofi h4 {
  text-align: left;
  color: var(--main_color);
  font-size: 24px;
}

.cy {
  text-align: left;
  color: var(--main_color);
  font-size: 18px;
}

.cy h4 {
  text-align: left;
  color: var(--main_color);
  font-size: 18px;
}

.detalles_oficina span.icono {
    font-size: 20px;
    color: var(--color_dark);
    font-weight: bold;
}

.detalles_oficina span.nombre {
    color: var(--color_dark);
    font-weight: bold;
}

.detalles_oficina span.detalle {
    color: var(--main_color);
    cursor: pointer;
    outline: none;
    font-weight: bold;
    transition: 0.5s;
}

.detalles_oficina span.detalle:hover {
    color: var(--color_copiar);
    transition: 0.5s;
}

.action_ll_wthp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 25px
}

.map_llamada {
    text-decoration: none;
    padding: 10px;
    background: var(--color_whatsapp);
    border: 1px solid var(--color_whatsapp);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color_white);
    cursor: pointer;
    transition: 0.5s;
}

.map_whatsapp {
    text-decoration: none;
    padding: 10px;
    background: var(--color_whatsapp);
    border: 1px solid var(--color_whatsapp);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color_white);
    cursor: pointer;
    transition: 0.5s;
}

.map_llamada:hover {
    background: var(--color_button_hover);
    color: var(--color_white);
    transition: 0.5s;
}

.map_whatsapp:hover {
    background: var(--color_whatsapp);
    color: var(--color_white);
    transition: 0.5s;
}

.aR_btn_map {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

span.icono_btn_maps {
    background: #F44336;
    color: #7b3732;
    padding: 10px 5px;
    text-align: center;
    font-size: 18px;
}

.btn_maps {
    cursor: pointer;
    background: var(--main_color);
    padding: 5px;
    color: var(--color_amarillo);
    font-size: 16px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn_maps:hover {
    background: #F44336;
    color: var(--color_amarillo);
}

.btn_maps:hover ~ span.punta_btn_map {
    border-left: 20px solid var(--main_color);
}

.detalles_oficina {
    text-align: left;
    font-size: 16px;
    margin: 20px 20px 20px 0;
}

.map_llamada:active,
.map_whatsapp:active {
    transform: scale(0.9);
    transition: 0.5s;
}

/*****************************************************************************
*                         SECCION DE CENTROS EXPRESS                         *
*****************************************************************************/
section#centrosexpress {
    padding: 100px;
    background: var(--gradient_amarillo);
}

/*****************************************************************************
*                      SECCION DE NOSOTROS COMO EMPRESA                      *
*****************************************************************************/

section#abaut {
    padding: 100px;
}

.abaut_us {
    background: url(../imagenes/inicio_fondo.png);
    background-size: cover;
    height: 90vh;
    padding: 100px;
}

.white .titleText,
.white p {
    color: #FFF;
}

.abaut_us .content_abaut_us {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48%);
    grid-gap: 2%;
    justify-content: center;
}

.abaut_us .content_abaut_us .caja_abaut_us.img img {
    margin: auto;
    display: flex;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.abaut_us .content_abaut_us .caja_abaut_us {
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.abaut_us .content_abaut_us .caja_abaut_us .imgCT {
    font-size: 90px;
    color: var(--color_button_hover);
}

.abaut_us .content_abaut_us .caja_abaut_us .imgCT img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.abaut_us .content_abaut_us .caja_abaut_us .textST {
    text-align: center;
}

.abaut_us .content_abaut_us .caja_abaut_us .textST p {
    color: var(--color_amarillo);
    text-align: justify;
    font-size: 22px;
    letter-spacing: 0.25px;
}

.abaut_us .content_abaut_us .caja_abaut_us .textST li {
    color: #666;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.25px;
}

.abaut_us .content_abaut_us .caja_abaut_us .textST h3 {
    margin: 20px 0;
    color: var(--color_white);
    font-size: 25px;
    font-weight: 600;
}




































































/*****************************************************************************
*                                PIE DE PAGINA                               *
*****************************************************************************/
.copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.copyrightText p {
    color: #333;
}

.copyrightText a {
    color: var(--main_color);
    font-weight: 500;
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 0 20px 0;
}

hr {
    width: 40%;
    margin: 40px auto 40px auto;
    border: 1px solid var(--main_color);
}

/*****************************************************************************
*                                MEDIA QUERYS                                *
*****************************************************************************/
@media (max-width: 1133px) {
    .contacto_telefono .contacto_copiarDir {
        font-size: 12px;
        padding: 12px;
    }
}

@media (max-width: 1113px) {
    .contacto_telefono .contacto_copiarDir {
        font-size: 12px;
        padding: 12px 0;
    }
}

@media (max-width: 1063px) {
    .contacto_telefono .contacto_copiar {
        font-size: 13px;
        padding: 11px;
    }
}

@media (max-width: 1045px) {
    .contacto_telefono .contacto_copiar {
        font-size: 12px;
        padding: 12px 0;
    }
}

@media (max-width: 1024px) {
    .action_ll_wthp {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    .services_container {
      grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 991px) {
    header,
    header.stiky {
        padding: 10px 20px;
    }

    header .navigation_items {
        position: relative;
        display: flex;
        min-width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    header .navigation_items .icon_nav,
    header.stiky .navigation_items .icon_nav {
        color: var(--color_amarillo);
    }

    header .navigation_items.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background: #FFF;
        padding: 0 20px;
    }

    header .navigation_items li a {
        color: var(--color_white);
        font-size: 20px;
    }

    .menutoggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../imagenes/hambuger.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menutoggle.active {
        background: url(../imagenes/close.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.stiky .menutoggle {
        filter: invert(1);
    }

    footer {
        background: var(--color_amarillo);
        display: flex;
        justify-content: center;
    }

    footer.stiky {
        bottom: 78px;
        display: flex;
        justify-content: center;
    }

    footer.stiky .copyrightText {
        display: none;
    }

    #footer_tow {
        display: block;
    }

    footer.stiky .navigation_items li {
        list-style: none;
        margin-left: 10px;
    }

    footer.stiky .navigation_items li a {
        font-size: 16px;
    }

    section {
        padding: 20px;
    }

    .banner .content_banner h2 {
        font-size: 3em;
    }

    .title {
        text-align: center;
    }

    .titleText {
        font-size: 40px;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }

    /* SECCION SERVICIOS */
    .fila_servicio,
    .fila_servicio_par {
        margin: 2rem 0 0rem 0;
    }

    .fila_servicio {
        display: block;
    }

    .fila_servicio .img_servicio img,
    .fila_servicio_par .img_servicio img {
        width: 100%;
        height: auto
    }

    .fila_servicio .img_servicio img,
    .fila_servicio_par .img_servicio img {
        box-shadow: 0px 10px 10px -5px var(--text_grey_shadow);
    }

    .fila_servicio .info_servicio,
    .fila_servicio_par .info_servicio {
        width: 90%;
        left: 0px;
        top: -100px;
        margin: auto;
        box-shadow: 0px 10px 30px -5px var(--text_grey_shadow);
    }

    .fila_servicio_par {
        display: flex;
        flex-direction: column-reverse;
    }

    .fila_servicio .info_servicio h3,
    .fila_servicio_par .info_servicio h3 {
        text-align: center;
    }

    .contacto_telefono .contacto_copiar,
    .contacto_telefono .contacto_copiarDir {
        font-size: 14px;
        padding: 10px;
    }

    /* SECCION OFICINAS */
    .row {
        flex-direction: column;
    }

    .row .col50 {
        position: relative;
        width: 100%;
    }

    .row .col50 .img_caja {
        height: 300px;
        margin-top: 20px;
    }

    /* SECCION NOSOTROS */
    .abaut_us .content_abaut_us {
        grid-template-columns: repeat(auto-fill, 48%);
        grid-gap: 2%;
    }

    .abaut_us .content_abaut_us .caja_abaut_us {
        padding: 20px;
    }

    .btn_inicio_qs {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    section {
        padding-top: 0px;
    }

    section#envios,
    section#oficinas,
    section#centrosexpress,
    section#qsomos {
        padding-right: 30px;
        padding-left: 30px;
    }

    .services_container {
      grid-template-columns: 1fr 1fr;
    }

    .title {
        margin-bottom: 30px;
    }

    .h_logo img {
        width: 75%;
    }

    /* SECCIÓN DE OFICINAS*/
    .linea_oficinas ul li:nth-child(odd) div.content_ofi {
      border-right: none;
      border-left: 1px solid var(--text_grey_shadow);
      box-shadow: -5px 0px 10px var(--text_grey_shadow);
    }

    .contacto_telefono {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contacto_telefono .contacto_llamada,
    .contacto_telefono .contacto_whatsapp {
        margin: 0 0 10px 0;
    }

    /* LINEA DE TIEMPO */
    .linea_oficinas {
        margin: 100px auto;
    }

    .linea_oficinas:before {
        top: -40px;
        left: 20px;
        height: 95%;
    }

    .linea_oficinas ul li:nth-child(odd),
    .linea_oficinas ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        margin-bottom: 30px;
    }

    .linea_oficinas ul li:nth-child(odd):before,
    .linea_oficinas ul li:nth-child(even):before {
        top: 20px;
        left: 16px;
    }

    .linea_oficinas ul li:nth-child(odd) .ofiName,
    .linea_oficinas ul li:nth-child(even) .ofiName {
        top: -30px;
        left: 50px;
        right: inherit;
        width: 400px;
        max-width: 500px;
    }

    .linea_oficinas ul li:nth-child(odd) {
        padding: 20px 0 40px 50px;
    }

    .action_ll_wthp {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content_ofi {
        margin-top: 0;
    }

    /* SECCION NOSOTROS */
    .abaut_us .content_abaut_us .caja_abaut_us .imgCT {
        font-size: 75px;
    }

    .abaut_us .content_abaut_us .caja_abaut_us .textST li,
    .abaut_us .content_abaut_us .caja_abaut_us .textST p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header {
        display: none;
        margin: 20px 0px;
    }

    header .navigation_items li a {
        color: var(--color_white);
        font-size: 18px;
    }

    header .logo,
    header.stiky .logo {
        font-size: 1.3em;
    }

    header .logo {
        max-width: 200px;
    }

    .h_logo img {
        width: 50%;
    }

    .banner .content_banner img {
        width: 50%;
    }

    .banner .content_banner h2 {
        font-size: 2.2em;
    }

    .a_pp {
        margin: 5px;
    }

    section#envios,
    section#oficinas,
    section#centrosexpress,
    section#qsomos {
        padding-top: 70px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .titleText {
        font-size: 1.5rem
    }

    .titleText span,
    .titleText span.textR_fb {
        font-size: 1.7rem
    }

    /* SECCION SERVICIOS */
    .fila_servicio .info_servicio,
    .fila_servicio_par .info_servicio {
        padding: 20px;
        top: -100px;
    }

    .fila_servicio .info_servicio h3,
    .fila_servicio_par .info_servicio h3 {
        font-size: 18px;
    }

    .fila_servicio .info_servicio h4,
    .fila_servicio_par .info_servicio h4,
    .fila_servicio .info_servicio p,
    .fila_servicio_par .info_servicio p {
        font-size: 12px;
    }

    .linea_oficinas ul li:nth-child(odd) .ofiName,
    .linea_oficinas ul li:nth-child(even) .ofiName {
        top: -30px;
        left: 50px;
        right: inherit;
        width: 87%;
    }

    .services_container {
      grid-template-columns: 1fr;
    }

    .content_ofi h4 {
        font-size: 16px;
    }

    div.cy,
    .detalles_oficina span.detalle {
        font-size: 15px;
    }

    .map_llamada,
    .map_whatsapp {
      padding: 8px;
    }

    .contacto_telefono .contacto_llamada,
    .contacto_telefono .contacto_whatsapp {
        font-size: 12px;
    }

    .resaltar_anaranjado {
        font-size: 14.8px;
    }

    /* SECCION OFICINAS */
    section#oficinas {
        margin-bottom: -100px;
    }

    .linea_oficinas {
        margin: 0;
    }

    .linea_oficinas:before {
        display: none;
    }

    .linea_oficinas ul li:nth-child(odd):before,
    .linea_oficinas ul li:nth-child(even):before {
        display: none;
    }

    .linea_oficinas ul li:nth-child(odd),
        .linea_oficinas ul li:nth-child(even) {
        padding: 0px;
    }

    .linea_oficinas ul li .ofiName h4 {
        font-size: 12px;
    }

    .detalles_oficina {
        font-size: 12px;
    }

    span.icono_btn_maps {
        font-size: 12px
    }

    .aR_btn_map {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .btn_maps {
        font-size: 13px
    }

    .detalles_oficina span.icono {
        font-size: 16px;
    }

    .action_ll_wthp {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    /* SECCION NOSOTROS */
    .abaut_us .content_abaut_us {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .abaut_us .content_abaut_us .caja_abaut_us .imgCT {
        font-size: 60px;
    }

    .abaut_us .content_abaut_us .caja_abaut_us.img {
        padding: 0px;
    }

    .abaut_us .content_abaut_us .caja_abaut_us .textST li,
    .abaut_us .content_abaut_us .caja_abaut_us .textST p {
        font-size: 16px;
    }

    .abaut_us .content_abaut_us .caja_abaut_us {
        padding: 20px 0;
    }

    .btn_inicio_qs {
        font-size: 16px;
        padding: 10px 25px;
    }

    .copyrightText {
        padding: 0px;
    }

    #ciudades_footer { display: none; }
}

@media (max-width: 375px) {
    .aR_btn_map {
        display: grid;
        grid-template-columns: 1fr 6fr;
    }

    .linea_oficinas ul li:nth-child(odd) .ofiName,
    .linea_oficinas ul li:nth-child(even) .ofiName {
        top: -30px;
        left: 50px;
        right: inherit;
        width: 85%;
    }

    .content_ofi h4 {
        font-size: 14px;
    }

    div.cy,
    .detalles_oficina span.detalle {
        font-size: 12px;
    }

    .abaut_us .content_abaut_us .caja_abaut_us.img {
        padding: 0px;
    }

    .btn_inicio_qs {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .aR_btn_map {
        display: grid;
        grid-template-columns: 1fr 7fr;
    }

    .linea_oficinas ul li:nth-child(odd) .ofiName,
    .linea_oficinas ul li:nth-child(even) .ofiName {
        top: -30px;
        left: 50px;
        right: inherit;
        width: 82%;
    }

    .abaut_us .content_abaut_us .caja_abaut_us .textST li,
    .abaut_us .content_abaut_us .caja_abaut_us .textST p {
        font-size: 14px;
    }

    .abaut_us .content_abaut_us .caja_abaut_us.img {
        padding: 0px;
    }

    .btn_inicio_qs {
        font-size: 13px;
        padding: 10px;
    }
}

@media (max-width: 251px) {
    .action_ll_wthp,
    .aR_btn_map {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        margin-bottom: 10px
    }

    .icono_btn_maps,
    .punta_btn_map {
        display: none;
    }
}